name: Release Workflow
on:
  push:
    branches: [ main ]

jobs:
  build:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
      -
        name: 'Deps: Install'
        run: |
          npm install
      -
        name: 'Build'
        run: |
          ./node_modules/.bin/ncc build ./index.js -o ./dist --no-source-map-register --minify --no-cache
      -
        name: 'Rename .env'
        run: |
          mv .template.env template.env
      -
        name: 'Release: Upload'
        uses: softprops/action-gh-release@v1
        with:
          tag_name: latest-${{github.sha}}
          fail_on_unmatched_files: true
          files: |
            ./dist/index.js
            ./template.env
